<div id="<%= dom_id item_category %>">
  <p>
    <u>Item Category:</u>
  </p>

  <p>
    <strong>Item:</strong>
    <%= item_category.menuitem_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item_category.category_id %>
  </p>

</div>
