<h1>Editing orderdetail</h1>

<%= render "form", orderdetail: @orderdetail %>

<br>

<div>
  <%= link_to "Show this orderdetail", @orderdetail %> |
  <%= link_to "Back to orderdetails", orderdetails_path %>
</div>
