<div id="<%= dom_id menuitem %>">
  <p>
    <strong>Name:</strong>
    <%= menuitem.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menuitem.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= menuitem.price %>
  </p>

</div>
