<p style="color: green"><%= notice %></p>
<h1>Menuitems Detail</h1>
<p>Menu item name: <%= @menuitem.name %></p>
<p>Menu item description: <%= @menuitem.description %></p>
<p>Menu item price: <%= @menuitem.price %></p>
<a href="/menuitems">Menu items</a>
